USE [AliBabaDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AltKategoris]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AltKategoris](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KategoriId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AltKategoris] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
	[IsActive] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[Puan] [int] NULL,
	[IsActive] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Colors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilans]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilans](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[GörüntülenmeSayisi] [int] NOT NULL,
	[IsConfirmed] [bit] NOT NULL,
	[IsSold] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[ColorId] [int] NOT NULL,
	[TeklifSayisi] [int] NOT NULL,
	[Garanti] [bit] NOT NULL,
	[ImagesId] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[KategoriId] [int] NOT NULL,
	[MarkaId] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
	[AltKategoriId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ilans] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ilces]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilces](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[SehirId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Ilces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Images]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Images](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Image1] [nvarchar](30) NOT NULL,
	[Image2] [nvarchar](30) NOT NULL,
	[Image3] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_dbo.Images] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategoris]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategoris](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Kategoris] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KullaniciAdresis]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KullaniciAdresis](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SehirId] [int] NOT NULL,
	[IlceId] [int] NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[Adres] [nvarchar](max) NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[ısActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.KullaniciAdresis] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Markas]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Markas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AltKategoriId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Markas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesajs]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesajs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Not] [nvarchar](max) NOT NULL,
	[SaticiId] [int] NOT NULL,
	[AliciId] [int] NOT NULL,
	[UrunId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[IlanId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Mesajs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarkaId] [int] NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[isActive] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Models] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sehirs]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Sehirs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teklifs]    Script Date: 26.09.2019 02:57:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teklifs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaticiId] [nvarchar](max) NOT NULL,
	[AliciId] [nvarchar](max) NOT NULL,
	[UrunId] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[TeklifTutari] [decimal](18, 2) NOT NULL,
	[Not] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.Teklifs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AltKategoris] ON 

INSERT [dbo].[AltKategoris] ([Id], [KategoriId], [Name], [Description], [isActive]) VALUES (1, 2, N'Araba', N'araba', 1)
INSERT [dbo].[AltKategoris] ([Id], [KategoriId], [Name], [Description], [isActive]) VALUES (2, 1, N'Telefon', N'telefon', 1)
INSERT [dbo].[AltKategoris] ([Id], [KategoriId], [Name], [Description], [isActive]) VALUES (3, 2, N'Motorsiklet', N'motorsiklet', 1)
SET IDENTITY_INSERT [dbo].[AltKategoris] OFF
INSERT [dbo].[AspNetRoles] ([Id], [Name], [IsActive], [Discriminator]) VALUES (N'1', N'Admin', 1, N'ApplicationRole')
INSERT [dbo].[AspNetRoles] ([Id], [Name], [IsActive], [Discriminator]) VALUES (N'2', N'User', 1, N'ApplicationRole')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'0e801e67-2fb9-4258-b70d-9f7c307f4799', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2f932bbd-bbf6-4f94-a76c-45336d19d515', N'1')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'84aed89e-fda9-4107-9b62-ddbbcb9377f7', N'1')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Puan], [IsActive], [Discriminator]) VALUES (N'0e801e67-2fb9-4258-b70d-9f7c307f4799', N'ilyas@gmail.com', 0, N'AL8YX3BDWk6VMYFtd7y3lzX9HmRo9utfB7gEPA8t/P0JeyYT8l2wcQU2HiYKkw2V8A==', N'e9a204ac-3110-43a9-a3a1-dbd953592c08', NULL, 0, 0, NULL, 0, 0, N'ilyas', 0, 1, N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Puan], [IsActive], [Discriminator]) VALUES (N'2f932bbd-bbf6-4f94-a76c-45336d19d515', N'osmanulusan@gmail.com', 0, N'AHQCJCwyDxNksSvizCARGDQKJ6o5SO86JieEuKB9L5sfFIcgHAcpa6JP86UtMcUbEw==', N'77bebe79-6bea-40b4-b4c4-b0a109811785', NULL, 0, 0, NULL, 0, 0, N'osman', 0, 1, N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [Puan], [IsActive], [Discriminator]) VALUES (N'47339db5-7d1f-4006-955f-3c672617b409', N'veli@gmail.com', 0, N'AIWA+3u+gaysiqZ+d1LWImsYZgl79bhyEo5hM7JQZ61ObBGWv4s6AWI+D/hlKRh8+Q==', N'0521af66-f84d-436a-8817-26e7662c6538', NULL, 0, 0, NULL, 0, 0, N'veli', 0, 1, N'ApplicationUser')
SET IDENTITY_INSERT [dbo].[Colors] ON 

INSERT [dbo].[Colors] ([Id], [Name]) VALUES (1, N'Kırmızı')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (2, N'Mavi')
INSERT [dbo].[Colors] ([Id], [Name]) VALUES (3, N'black')
SET IDENTITY_INSERT [dbo].[Colors] OFF
SET IDENTITY_INSERT [dbo].[Ilans] ON 

INSERT [dbo].[Ilans] ([Id], [Title], [Description], [CreateDate], [GörüntülenmeSayisi], [IsConfirmed], [IsSold], [IsDeleted], [ColorId], [TeklifSayisi], [Garanti], [ImagesId], [UserId], [KategoriId], [MarkaId], [ModelId], [AltKategoriId]) VALUES (15, N'Temiz Monster Taze', N'Güzel Notebook Bence Alın', CAST(N'2019-09-14T23:28:36.203' AS DateTime), 38, 1, 0, 0, 3, 0, 1, 12, N'f4969179-910e-4691-b23e-98c3bf67917e', 1, 4, 9, 5)
INSERT [dbo].[Ilans] ([Id], [Title], [Description], [CreateDate], [GörüntülenmeSayisi], [IsConfirmed], [IsSold], [IsDeleted], [ColorId], [TeklifSayisi], [Garanti], [ImagesId], [UserId], [KategoriId], [MarkaId], [ModelId], [AltKategoriId]) VALUES (16, N'100Km Audi', N'Doktordan temiz audi adil tekliflerinizi bekliyorum', CAST(N'2019-09-15T00:39:02.563' AS DateTime), 89, 1, 0, 0, 9, 0, 1, 13, N'9ed7ef82-6db6-47d0-814e-5b245a6d27e7', 2, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Ilans] OFF
SET IDENTITY_INSERT [dbo].[Ilces] ON 

INSERT [dbo].[Ilces] ([Id], [Name], [SehirId]) VALUES (1, N'Ataşehir', 1)
INSERT [dbo].[Ilces] ([Id], [Name], [SehirId]) VALUES (2, N'Kadiköy', 1)
INSERT [dbo].[Ilces] ([Id], [Name], [SehirId]) VALUES (3, N'Beşiktaş', 1)
SET IDENTITY_INSERT [dbo].[Ilces] OFF
SET IDENTITY_INSERT [dbo].[Images] ON 

INSERT [dbo].[Images] ([Id], [Image1], [Image2], [Image3]) VALUES (11, N'2.jpeg', N'indir.png', N'wissen_featured.jpg')
INSERT [dbo].[Images] ([Id], [Image1], [Image2], [Image3]) VALUES (12, N'bilgmuh.jpg', N'4.png', N'wissen_featured.jpg')
INSERT [dbo].[Images] ([Id], [Image1], [Image2], [Image3]) VALUES (13, N'indir.png', N'balik.jpg', N'ogretımGorevlisi2.png')
SET IDENTITY_INSERT [dbo].[Images] OFF
SET IDENTITY_INSERT [dbo].[Kategoris] ON 

INSERT [dbo].[Kategoris] ([Id], [Name], [Description], [isActive]) VALUES (1, N'Teknoloji', N'Teknoloji', 1)
INSERT [dbo].[Kategoris] ([Id], [Name], [Description], [isActive]) VALUES (2, N'Taşıt', N'Taşıt', 1)
SET IDENTITY_INSERT [dbo].[Kategoris] OFF
SET IDENTITY_INSERT [dbo].[Markas] ON 

INSERT [dbo].[Markas] ([Id], [AltKategoriId], [Name], [Description], [isActive]) VALUES (1, 1, N'Audi', N'audi', 1)
INSERT [dbo].[Markas] ([Id], [AltKategoriId], [Name], [Description], [isActive]) VALUES (2, 2, N'Samsung', N'samsung', 1)
INSERT [dbo].[Markas] ([Id], [AltKategoriId], [Name], [Description], [isActive]) VALUES (3, 3, N'Kawasaki', N'kawasaki', 1)
SET IDENTITY_INSERT [dbo].[Markas] OFF
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Id], [MarkaId], [Name], [Description], [isActive]) VALUES (1, 1, N'A4', N'A4', 1)
INSERT [dbo].[Models] ([Id], [MarkaId], [Name], [Description], [isActive]) VALUES (2, 1, N'A5', N'A5', 1)
INSERT [dbo].[Models] ([Id], [MarkaId], [Name], [Description], [isActive]) VALUES (3, 2, N'Samsung s8', N's8', 1)
SET IDENTITY_INSERT [dbo].[Models] OFF
SET IDENTITY_INSERT [dbo].[Sehirs] ON 

INSERT [dbo].[Sehirs] ([Id], [Name]) VALUES (1, N'İstanbul')
INSERT [dbo].[Sehirs] ([Id], [Name]) VALUES (2, N'Ankara')
INSERT [dbo].[Sehirs] ([Id], [Name]) VALUES (3, N'İzmir')
SET IDENTITY_INSERT [dbo].[Sehirs] OFF
SET IDENTITY_INSERT [dbo].[Teklifs] ON 

INSERT [dbo].[Teklifs] ([Id], [SaticiId], [AliciId], [UrunId], [CreateDate], [TeklifTutari], [Not]) VALUES (1, N'9ed7ef82-6db6-47d0-814e-5b245a6d27e7', N'72e54eb2-143b-483c-bd85-b172e7c0a5db', 16, CAST(N'2019-09-22T00:30:31.973' AS DateTime), CAST(22500.00 AS Decimal(18, 2)), N'bana satarmısınız lütfen')
INSERT [dbo].[Teklifs] ([Id], [SaticiId], [AliciId], [UrunId], [CreateDate], [TeklifTutari], [Not]) VALUES (2, N'f4969179-910e-4691-b23e-98c3bf67917e', N'e6022d8d-7cb6-47cd-a724-e555b97be163', 15, CAST(N'2019-09-22T00:40:11.013' AS DateTime), CAST(5000.00 AS Decimal(18, 2)), N'en son fiyat nedir')
INSERT [dbo].[Teklifs] ([Id], [SaticiId], [AliciId], [UrunId], [CreateDate], [TeklifTutari], [Not]) VALUES (3, N'f4969179-910e-4691-b23e-98c3bf67917e', N'47339db5-7d1f-4006-955f-3c672617b409', 15, CAST(N'2019-09-22T00:47:12.000' AS DateTime), CAST(250.00 AS Decimal(18, 2)), N'alabilirim  iletişime geçermisiniz')
SET IDENTITY_INSERT [dbo].[Teklifs] OFF
ALTER TABLE [dbo].[Ilans] ADD  CONSTRAINT [DF__Ilans__AltKatego__2739D489]  DEFAULT ((0)) FOR [AltKategoriId]
GO
ALTER TABLE [dbo].[AltKategoris]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategoris_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoris] ([Id])
GO
ALTER TABLE [dbo].[AltKategoris] CHECK CONSTRAINT [FK_dbo.AltKategoris_dbo.Kategoris_KategoriId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.AltKategoris_AltKategoriId] FOREIGN KEY([AltKategoriId])
REFERENCES [dbo].[AltKategoris] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.AltKategoris_AltKategoriId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.Images_ImagesId] FOREIGN KEY([ImagesId])
REFERENCES [dbo].[Images] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.Images_ImagesId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.Kategoris_KategoriId] FOREIGN KEY([KategoriId])
REFERENCES [dbo].[Kategoris] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.Kategoris_KategoriId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.Markas_MarkaId] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markas] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.Markas_MarkaId]
GO
ALTER TABLE [dbo].[Ilans]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilans_dbo.Models_ModelId] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilans] CHECK CONSTRAINT [FK_dbo.Ilans_dbo.Models_ModelId]
GO
ALTER TABLE [dbo].[Ilces]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ilces_dbo.Sehirs_SehirId] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehirs] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Ilces] CHECK CONSTRAINT [FK_dbo.Ilces_dbo.Sehirs_SehirId]
GO
ALTER TABLE [dbo].[KullaniciAdresis]  WITH CHECK ADD  CONSTRAINT [FK_dbo.KullaniciAdresis_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[KullaniciAdresis] CHECK CONSTRAINT [FK_dbo.KullaniciAdresis_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[Markas]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Markas_dbo.AltKategoris_AltKategoriId] FOREIGN KEY([AltKategoriId])
REFERENCES [dbo].[AltKategoris] ([Id])
GO
ALTER TABLE [dbo].[Markas] CHECK CONSTRAINT [FK_dbo.Markas_dbo.AltKategoris_AltKategoriId]
GO
ALTER TABLE [dbo].[Models]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Models_dbo.Markas_MarkaId] FOREIGN KEY([MarkaId])
REFERENCES [dbo].[Markas] ([Id])
GO
ALTER TABLE [dbo].[Models] CHECK CONSTRAINT [FK_dbo.Models_dbo.Markas_MarkaId]
GO
